body {
    padding-top: 60px;
    padding-bottom: 60px;
}

.copyright {
    color: #777;
}

.footer {
    text-align: center;
}

.footer a {
    color: #ee4444;
}

.sidebar h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.sidebar a {
    color: #428bca;
}

.sidebar li {
    margin-top: .7em;
    line-height: 1em;
}

.sidebar a:hover {
    color: #3071a9;
}

.container-left {
    margin: 0;
}

.well h1 {
    color: #ee4444;
    font-size: 1.3em;
}

.author {
    color: #ee4444;
}

.author a {
    color: #ee4444;
}

.navbar-inverse {
    background-color: #F5F5F5;
    border-color: #BBB;
    background-image: url('../images/darkheader.png');
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #AAA;
    background-color:#F5F5F5;
    background-image: url('../images/darkheader.png');
}

.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus {
    color: #FFF;
}

.navbar-header .navbar-brand {
    font-family: "Playball",cursive;
    font-size: 20px;
    color: #AAA;
}

.sidebar {
    position: fixed;
}

pre {
    display: block;
    padding: 14px;
    color: #ddd;
    background-color: #000000;
    margin: 0 0 18px;
    line-height: 16px;
    font-size: 11px;
    border: 1px solid #d9d9d9;
    white-space: pre-wrap;
    word-wrap: break-word;
}
pre code {
    background-color: #000;
    color:#737373;
    font-size: 11px;
    padding: 0;
}

